__test
__trash

.vs

*.ncb
*.opensdf
*.sdf
#+easy with .suo
#*.suo

*.bsc
*.exe
*.ilk
*.map
*.pdb
*.idb
*.aps

bin

OBJDIR
.obj

Depend
Depend.bak

*.a
#*.dll
#*.lib
*.o
*.so
*.iobj
*.ipdb

db_r*
game_r*

db_symlink
game_symlink

pre_qc
*.pyc

*.bak
/.project

### archives
*.rar
*.7z
*.zip
*.gz
*.bz
*.xz
*.tar
*.tgz
*.tbz
*.txz


###Nuevas

*.eix
*.epk
*.vdi

cryptlib-Debug.lib


Binario/Client/.vs
Binario/Client/bin
Binario/Client/CWebBrowser/Release
Binario/Client/EffectLib/Release
Binario/Client/EterBase/Release
Binario/Client/EterGrnLib/Release
Binario/Client/EterImageLib/Release
Binario/Client/EterLib/Release
Binario/Client/EterLocale/Release
Binario/Client/EterPack/Release
Binario/Client/EterPythonLib/Release
Binario/Client/GameLib/Release
Binario/Client/MilesLib/Release
Binario/Client/PRTerrainLib/Release
Binario/Client/ScriptLib/Release
Binario/Client/SpeedTreeLib/Release
Binario/Client/SphereLib/Release
Binario/Client/UserInterface/Release
Binario/Client/CWebBrowser/Debug
Binario/Client/EffectLib/Debug
Binario/Client/EterBase/Debug
Binario/Client/EterGrnLib/Debug
Binario/Client/EterImageLib/Debug
Binario/Client/EterLib/Debug
Binario/Client/EterLocale/Debug
Binario/Client/EterPack/Debug
Binario/Client/EterPythonLib/Debug
Binario/Client/GameLib/Debug
Binario/Client/MilesLib/Debug
Binario/Client/PRTerrainLib/Debug
Binario/Client/ScriptLib/Debug
Binario/Client/SpeedTreeLib/Debug
Binario/Client/SphereLib/Debug
Binario/Client/UserInterface/Debug
*.exe
Binario/Extern/cryptopp/.vs
Binario/Extern/cryptopp/Win32
Binario/Extern/cryptopp/adhoc.cpp.copied
Binario/Extern/lib/cryptlib-Debug.lib
Binario/Extern/lib/cryptlib-Debug.pdb

Binario/Tools/DumpProto/Release
Binario/Tools/DumpProto/Debug
Binario/Tools/DumpProto/dump_proto/Release
Binario/Tools/DumpProto/dump_proto/Debug
Binario/Tools/DumpProto/lzo/Release
Binario/Tools/DumpProto/lzo/i386

Binario/Tools/Mysql2Proto/Release
Binario/Tools/Mysql2Proto/Debug
Binario/Tools/Mysql2Proto/lzo/Release
Binario/Tools/Mysql2Proto/lzo/i386
Binario/Tools/Mysql2Proto/Mysql2Proto/Release
Binario/Tools/Mysql2Proto/Mysql2Proto/Debug

Vdi/Freebsd 12.2 32bit (clean)-disk001.vdi

Client/syserr.txt
Client/log.txt
Client/lib/Kroni_brave_cape
Binario/Srcs/Client/UserInterface/syserr.txt
Binario/Srcs/Client/UserInterface/metin2.cfg
*.dmp
Client/lib/Dungeons_brave_cape
*.chat
*.inf
