__test
__trash

.vs

*.ncb
*.opensdf
*.sdf
#+easy with .suo
#*.suo

*.bsc
*.exe
*.ilk
*.map
*.pdb
*.idb
*.aps

bin

OBJDIR
*.obj
*.log

Depend
Depend.bak

*.a
#*.dll
#*.lib
*.o
*.so
*.iobj
*.ipdb

db_r*
game_r*

db_symlink
game_symlink

pre_qc
*.pyc

*.bak
/.project

### archives
*.rar
*.7z
*.zip
*.gz
*.bz
*.xz
*.tar
*.tgz
*.tbz
*.txz


###Nuevas

*.eix
*.epk
*.vdi

cryptlib-Debug.lib


Source Client/Client/.vs
Source Client/Client/bin
Source Client/Client/CWebBrowser/Release
Source Client/Client/EffectLib/Release
Source Client/Client/EterBase/Release
Source Client/Client/EterGrnLib/Release
Source Client/Client/EterImageLib/Release
Source Client/Client/EterLib/Release
Source Client/Client/EterLocale/Release
Source Client/Client/EterPack/Release
Source Client/Client/EterPythonLib/Release
Source Client/Client/GameLib/Release
Source Client/Client/MilesLib/Release
Source Client/Client/PRTerrainLib/Release
Source Client/Client/ScriptLib/Release
Source Client/Client/SpeedTreeLib/Release
Source Client/Client/SphereLib/Release
Source Client/Client/UserInterface/Release
Source Client/Client/CWebBrowser/Debug
Source Client/Client/EffectLib/Debug
Source Client/Client/EterBase/Debug
Source Client/Client/EterGrnLib/Debug
Source Client/Client/EterImageLib/Debug
Source Client/Client/EterLib/Debug
Source Client/Client/EterLocale/Debug
Source Client/Client/EterPack/Debug
Source Client/Client/EterPythonLib/Debug
Source Client/Client/GameLib/Debug
Source Client/Client/MilesLib/Debug
Source Client/Client/PRTerrainLib/Debug
Source Client/Client/ScriptLib/Debug
Source Client/Client/SpeedTreeLib/Debug
Source Client/Client/SphereLib/Debug
Source Client/Client/UserInterface/Debug
*.exe
Source Client/Extern/cryptopp/.vs
Source Client/Extern/cryptopp/Win32
Source Client/Extern/cryptopp/adhoc.cpp.copied
Source Client/Extern/lib/cryptlib-Debug.lib
Source Client/Extern/lib/cryptlib-Debug.pdb

Source Client/Tools/DumpProto/Release
Source Client/Tools/DumpProto/Debug
Source Client/Tools/DumpProto/dump_proto/Release
Source Client/Tools/DumpProto/dump_proto/Debug
Source Client/Tools/DumpProto/lzo/Release
Source Client/Tools/DumpProto/lzo/i386

Source Client/Tools/Mysql2Proto/Release
Source Client/Tools/Mysql2Proto/Debug
Source Client/Tools/Mysql2Proto/lzo/Release
Source Client/Tools/Mysql2Proto/lzo/i386
Source Client/Tools/Mysql2Proto/Mysql2Proto/Release
Source Client/Tools/Mysql2Proto/Mysql2Proto/Debug

Vdi/Freebsd 12.2 32bit (clean)-disk001.vdi

Client/syserr.txt
Client/log.txt
Client/lib/Kroni_brave_cape
Source Client/Srcs/Client/UserInterface/syserr.txt
Source Client/Srcs/Client/UserInterface/metin2.cfg
*.dmp
Client/lib/Dungeons_brave_cape
*.chat
*.inf
